.details {
    width: 50vw;
    margin-left: 18vw;
}

.grid3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.flex {
    display: flex;
}

.safety {
    width: 150px;
    border-top: 10px dashed red;
}

.showmore {
    margin-left: 475px;
}