*,
*::before,
*::after {
    box-sizing: border-box;
}

#slideshow {
    display: flex;
    margin: 3vw;
    width: 85vw;
    height: 30vw;
}

#slides {
    position: relative;
    width: 83%;
    overflow: hidden;
}

#gallery {
    position: relative;
    width: 17%;
    overflow: hidden;
}

#slides img,
#gallery img {
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    width: 70%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s linear;
}

.slide.show {
    opacity: 1;
    z-index: 1000;
}

.slide img {
    border-radius: 10px;
}

.thumbnail {
    height: 8.47vw;
    margin: 0vw 2.3vw 2.3vw 0vw;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail:active,
.thumbnail:focus {
    border: #00B074;
    border-style: solid;
    padding: 2px;
    border-width: 3px;
}

.more {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
}

.more:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.text {
    font-family: Arial;
    font-size: 1.2em;
    color: white;
    text-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
    margin: 0;
    position: absolute;
}

.slide-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0);
    background: transparent;
    cursor: pointer;
    transition: all 0.4s linear;
    z-index: 1000;
}

.slide-btn:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 30%;
}

.prev {
    left: 0;
}

.slide .content {
    position: absolute;
    left: 0;
    bottom: -999px;
    color: #fff;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: bottom 0.4s ease;
}

.slide .title {
    font-weight: bold;
}

.slide:hover>.content {
    bottom: 0;
}

.thumbnail .title {
    position: absolute;
    top: 0;
    left: -999px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    height: 30px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

.thumbnail .description {
    position: absolute;
    left: 0;
    bottom: -999px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

.thumbnail:hover .title {
    left: 0;
}

.thumbnail:hover .description {
    bottom: -12px;
}

@media screen and (max-width: 768px) {
    #slides {
        width: 100%;
    }
    #gallery {
        display: none;
    }
}